body{
    background: black;
}
.donna{
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    margin: auto;
    background: linear-gradient(
    0deg,    
    rgba(255,255,255) 50%,
        rgba(255,255,255, .2) 50%
    );
    position: relative;
    transform: rotate(100deg);
}

/* Porcetaje * 180 /100 */

.donna::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: black content-box;
    border-radius: 50%;
    padding: .5em;
    box-sizing: border-box;
    font-size: 2rem;
    transform: rotate(-90deg);
}

.donna::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: linear-gradient(
        transparent 50%,
        black 50%
    );
    transform: scale(1.1) rotate(-90deg);
}