<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style/style.css">
    <title>KLMA' HUMANS</title>
</head>

<body>

<div class="contenmenu">
    <header class="header">
        <div class="logo">
            <a href="#"><img src="../assets/img/menushop/btn_shop.png" alt="logo shop shop"></a>
        </div>
    </header>

    <!-- Menu en tarjetas -->
    <div class="main">
        <div class="menua">
            <div class="loungewear">
                <a class="mt-1" href="#" style="letter-spacing: .4em"><img src="../assets/img/menushop/Loungewear.png" alt="logo shop shop">LOUNGEWEAR</a>
            </div>
            <div class="calmwear">
                <a href="#" style="letter-spacing: .7em"><img src="../assets/img/menushop/Calmwear.png" alt="logo shop shop">CALMWEAR</a>
            </div>
            <div class="transition">
                <a href="#" style="letter-spacing: .5em"><img src="../assets/img/menushop/Transition.png" alt="logo shop shop">TRANSITION</a>
            </div>
        </div>

        <!-- Menu derecha -->
        <div class="nav">
            <ul class="tnav">
                    <ol><a href="#">NEW-ARRIVALS</a></ol>
                    <ol><a href="#">WOMENS</a></ol>
                    <ol><a href="#">MENS</a></ol>
                    <ol><a href="#">CLASSICS</a></ol>
                    <ol><a href="#">CAPSULES</a></ol>
            </ul>
        </div>
    </div>
</div>

</body>
</html>