

/* Logo KLMA' HUMANS centrado */
.img-form{
    width: 190px;
    height: 162px;
    background-image: url("./img/simbolo.png");
    background-size: 190px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 11%;
    margin-left: 12%;
}

/* Espacio para email y contraseña (letras) */

.login-pass::placeholder, .login-email::placeholder{
    font-family: "MoristonPersonal-Medium";
    font-size: 5pt;
    text-align: center;
    letter-spacing: .5em;
    word-spacing: 0.25em;
    color: rgb(0, 0, 0);
    opacity: 60%;
}

/* Diseño del contenedor campo email */

.login-email{
    text-align: center;
    background-image: url("./img/login-form-klma-humans_01.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 210px;
    height: 25px;
    border: none;
    outline: none;
    box-shadow: none;
}

/* Diseño del contenedor campo Contraseña */

.divojitos{
    position: relative;
}

.divojitos>span:nth-child(1){
    position: absolute;
}

.divojitos>span:nth-child(2){
    position: absolute;
    right: 0;
}

.login-pass {
    text-align: center;
    padding: 0px 30px;
    background-image: url("./img/login-form-klma-humans_02.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 210px;
    height: 25px;
    box-shadow: none;
    position: absolute;
    border: none;
    outline: none;
}

/* Botón ver y ocultar contraseñas */
.btn-link, .btn-link:hover{
    color: #000000;
    opacity: 60%;
    text-decoration: none;
}

/* Contenedor del formulario Login */
.login-form{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
    justify-content: center;
}

/*Enlace NICK NAME*/

.nick_name p{
    font-family: "MoristonPersonal-Medium";
    color: rgb(0, 0, 0);
    text-align: center;
    opacity: 60%;
    letter-spacing: .2em;
    word-spacing: 0.25em;
    font-size: 5pt;
    border-bottom: 1px dotted #000000;
    margin-top: 30%;
}

/*Enlace REGRESAR*/

.back{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "MoristonPersonal-Medium";
    color: black;
    letter-spacing: .3em;
    font-size: 5pt;
    margin-top: 1%;
    border-bottom: 1px dotted #000000;
    margin-bottom: 7%;
}

/* Hover para etiquetas <a> */
.nick_name:hover, .btn-submit:hover{
    color: white;
    text-decoration: none !important;
}

.back:hover{
    color: black;
    text-decoration: none !important;
}

/*Imagen Barras Degradado*/

.img-barras {
    background-image: url("./img/linea_principal.png");
    background-size: 732px 39px;
    background-repeat: no-repeat;
    width: 682px;
    height: 10px;
    margin-top: .4%;
    margin-bottom: .4%;
    margin-left: 23.8%;
}

/*Botón REGISTRARME*/

.btn-submit{
    display: flex;
    justify-content: center;
    padding: 5px 50px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    margin-top: 1%;
    font-family: "MoristonPersonal-Medium";
    letter-spacing: .3em;
    font-size: 9pt;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
}