<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KLMA' HUMANS</title>

    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/style/style.css">
    <link rel="stylesheet" href="../assets/librerias/bootstrap.min.css ">
    <link rel="stylesheet" href="../assets/librerias/flexboxgrid.min.css">
</head>

<body style="overflow: hidden;">
<header>
        <nav class="navbar navbar-expand-lg">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="circulo collapse navbar-collapse col-lg-1 col-md-1 col-sm-1" id="navbarNav">
                <div class="nav-item circulo">
                  <a class="nav-link" href="#"></a>
                </div>
              </div>
              <div class="nav-item titulo col-lg-7 col-md-7">
                <a class="nav-link" href="#"></a>
              </div>
              <div class="col nav-item col-lg-3 col-md-3 col">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item menu-puntos">
                    <a class="nav-link" href="#"></a>
                  </li>
                  <li class="nav-item menu-log">
                    <a class="nav-link" href="#"></a>
                  </li>
                  <li class="nav-item menu-candado">
                    <a class="nav-link" href="#"></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          </div>
        </nav>
</header>


<div class="containertl">
    <!-- GRID para figuras geometricas -->
    <div class="grid-view gridtlin">
        <div class="packet"><img src="../assets/img/prodgenerales/transition/prismarectangular.png" alt="prisma">
        </div>
        <div class="packet"><img src="../assets/img/prodgenerales/transition/cubo.png" alt="cubo">
        </div>
        <div class="packet"><img src="../assets/img/prodgenerales/transition/piramide.png" alt="piramide">
        </div>
        <div class="packet"><img src="../assets/img/prodgenerales/transition/cono.png" alt="cono">
        </div>
        <div class="packet"><img src="../assets/img/prodgenerales/transition/esfera.png" alt="esfera">
        </div>
        <div class="packet"><img src="../assets/img/prodgenerales/transition/cilindro.png" alt="cilindro">
        </div>
    </div>

    <!-- GRID para productos con imagenes -->
    <div class="grid-view gridtl">
        <div class="tshirt"><img src="../assets/img/prodgenerales/transition/T-shirt Manga Ranglan.png" alt="">
        </div>
        <div class="tshirt"><img src="../assets/img/prodgenerales/transition/T-shirt Manga Sisa.png" alt="">
        </div>
        <div class="tshirt"><img src="../assets/img/prodgenerales/transition/T-shirt Manga Ranglan.png" alt="">
        </div>
        <div class="tshirt"><img src="../assets/img/prodgenerales/transition/T-shirt Manga Sisa.png" alt="">
        </div>
        <div class="tshirt"><img src="../assets/img/prodgenerales/transition/T-shirt Manga Ranglan.png" alt="">
        </div>
        <div class="tshirt"><img src="../assets/img/prodgenerales/transition/T-shirt Manga Sisa.png" alt="">
        </div>

        <div class="tshirt"><img src="../assets/img/prodgenerales/transition/T-shirt Manga Ranglan.png" alt="">
        </div>
        <div class="tshirt"><img src="../assets/img/prodgenerales/transition/T-shirt Manga Sisa.png" alt="">
        </div>
        <div class="tshirt"><img src="../assets/img/prodgenerales/transition/T-shirt Manga Ranglan.png" alt="">
        </div>
        <div class="tshirt"><img src="../assets/img/prodgenerales/transition/T-shirt Manga Sisa.png" alt="">
        </div>
        <div class="tshirt"><img src="../assets/img/prodgenerales/transition/T-shirt Manga Ranglan.png" alt="">
        </div>
        <div class="tshirt"><img src="../assets/img/prodgenerales/transition/T-shirt Manga Sisa.png" alt="">
        </div>
        
        <div class="tshirt"><img src="../assets/img/prodgenerales/transition/T-shirt Manga Ranglan.png" alt="">
        </div>
        <div class="tshirt"><img src="../assets/img/prodgenerales/transition/T-shirt Manga Sisa.png" alt="">
        </div>
        <div class="tshirt"><img src="../assets/img/prodgenerales/transition/T-shirt Manga Ranglan.png" alt="">
        </div>
        <div class="tshirt"><img src="../assets/img/prodgenerales/transition/T-shirt Manga Sisa.png" alt="">
        </div>
        <div class="tshirt"><img src="../assets/img/prodgenerales/transition/T-shirt Manga Ranglan.png" alt="">
        </div>
        <div class="tshirt"><img src="../assets/img/prodgenerales/transition/T-shirt Manga Sisa.png" alt="">
        </div>

        <div class="tshirt"><img src="../assets/img/prodgenerales/transition/T-shirt Manga Ranglan.png" alt="">
        </div>
        <div class="tshirt"><img src="../assets/img/prodgenerales/transition/T-shirt Manga Sisa.png" alt="">
        </div>
        <div class="tshirt"><img src="../assets/img/prodgenerales/transition/T-shirt Manga Ranglan.png" alt="">
        </div>
        <div class="tshirt"><img src="../assets/img/prodgenerales/transition/T-shirt Manga Sisa.png" alt="">
        </div>
        <div class="tshirt"><img src="../assets/img/prodgenerales/transition/T-shirt Manga Ranglan.png" alt="">
        </div>
        <div class="tshirt"><img src="../assets/img/prodgenerales/transition/T-shirt Manga Sisa.png" alt="">
        </div>

        <div class="tshirt"><img src="../assets/img/prodgenerales/transition/T-shirt Manga Ranglan.png" alt="">
        </div>
        <div class="tshirt"><img src="../assets/img/prodgenerales/transition/T-shirt Manga Sisa.png" alt="">
        </div>
        <div class="tshirt"><img src="../assets/img/prodgenerales/transition/T-shirt Manga Ranglan.png" alt="">
        </div>
        <div class="tshirt"><img src="../assets/img/prodgenerales/transition/T-shirt Manga Sisa.png" alt="">
        </div>
        <div class="tshirt"><img src="../assets/img/prodgenerales/transition/T-shirt Manga Ranglan.png" alt="">
        </div>
        <div class="tshirt"><img src="../assets/img/prodgenerales/transition/T-shirt Manga Sisa.png" alt="">
        </div>

        <div class="tshirt"><img src="../assets/img/prodgenerales/transition/T-shirt Manga Ranglan.png" alt="">
        </div>
        <div class="tshirt"><img src="../assets/img/prodgenerales/transition/T-shirt Manga Sisa.png" alt="">
        </div>
        <div class="tshirt"><img src="../assets/img/prodgenerales/transition/T-shirt Manga Ranglan.png" alt="">
        </div>
        <div class="tshirt"><img src="../assets/img/prodgenerales/transition/T-shirt Manga Sisa.png" alt="">
        </div>
        <div class="tshirt"><img src="../assets/img/prodgenerales/transition/T-shirt Manga Ranglan.png" alt="">
        </div>
        <div class="tshirt"><img src="../assets/img/prodgenerales/transition/T-shirt Manga Sisa.png" alt="">
        </div>
    </div>

    <!-- Contenedor de los sentimientos rotados 90° -->
    <div class="containerfeel2">
            <div class="rotate">
                <span class="">IRA</span>
            </div>
            <div class="rotate">
                <span class="">MIEDO</span>
            </div>
            <div class="rotate">
                <span class="">TRISTEZA</span>
            </div>
            <div class="rotate">
                <span class="">FELICIDAD</span>
            </div>
            <div class="rotate">
                <span class="">AMOR</span>
            </div>
            <div class="rotate">
                <span class="">ALEGRÍA</span>
            </div>
    </div>
</div>


</body>
</html>